*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body, html{
  --black:#202024;
  --gray:#E1E1E6;

  height: 100%;
  background: url("./images/degrade.png") center;
  background-color: #121214;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}
main{
  background: url("./images/backgroundMobile.svg");
  width: 23.4375rem;
  height: 43.75rem;
}
.card{
  transform-style: preserve-3d;
  transition: all 0.75s ease-out;

  max-width: 15.625rem;
  margin: auto;
  text-align: center;

  color: var(--gray);
}

.imagesCard{
  width:10rem;
  margin: 11.5rem auto 0;
  position: relative;
  transition: all 0.75s ease-out;

}
.imagesCard span{
  position:absolute;
  top:-5px;
  z-index: 1;
}

.imagesCard span img{
  width:4rem;
}

.imagesCard > img{
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 80%, 50% 100%, 0 80%, 0 25%);
}

h1 {
  font-size: 1rem;
  margin-top:1.5rem;
}

a {
  text-decoration: none;
  font-size: .9rem;
  color: var(--gray);
  margin-top: 0.5rem;

  display:flex;
  gap: .75rem;
  justify-content:center;
  align-items:center;

}

p{
  margin-top:2rem;
  
}

ul{
  margin-top:2rem;
  list-style: none;
  padding:0;
  display:flex;
  gap: .5rem;
  justify-content: center;

}

.imageDo{
  margin-top:1.5rem;
  width:5rem;
  
}